.stitch {
  border: 2px solid green;
  display: grid;
  grid-template-areas:
    ". userInfo userInfo userInfo userInfo"
    ". content content content content"
    ". content content content content";
  font-size: 0.9rem;
  padding: 0.3rem;
  & > .header4 {
    grid-area: userInfo;
  }
  & > .stitchContent {
    grid-area: content;
  }
}
