@import "./../../../../mixins.scss";

$primaryColor: #52ce10;

.buttonSecondary {
  @include buttonBase;

  border: 2px solid $primaryColor;
  background-color: white;
  color: $primaryColor;

  &:hover {
    background-color: lighten($primaryColor, 50%);
  }
  &:active {
    background-color: lighten($primaryColor, 35%);
  }
}
