@import "../../../variables.scss";

nav {
  position: fixed;
  height: 100vh;
  border-right: 1px solid $homePageBorderColor;
  grid-column-start: 1;
  width: $navBarWidth;
}

nav > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

nav > ul > li {
  width: 12rem;
  height: 3rem;
  list-style: none;
  margin: 0.5rem;
  line-height: 3rem;
  border-radius: 25px;
  padding-left: 1rem;
  cursor: pointer;
  &:hover {
    background-color: $hoverEffectPrimaryColor;
    & a {
      color: darken($primaryColor, 10);
    }
  }
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
  letter-spacing: 0.2rem;
}
