.stitch {
  border: 2px solid green;
  display: grid;
  grid-template:
    ". userInfo userInfo userInfo userInfo" 1fr
    ". content content content content" 2fr;
  font-size: 0.9rem;
  padding: 0.3rem;
  & > .header4 {
    grid-area: userInfo;
  }
  & > .stitchContent {
    grid-area: content;
  }
}
