@import "../../../../../mixins.scss";
@import "../../../../../variables.scss";

.formButtonCancel {
  @include buttonBase;

  border: 2px solid red;
  background-color: transparent;
  color: red;

  width: 85%;
  margin: 0 auto;

  &:hover {
    background-color: lighten(red, 40%);
  }
  &:active {
    background-color: lighten(red, 30%);
  }
}
