@import "../../../../../mixins.scss";
@import "../../../../../variables.scss";

.formButtonPrimary {
  @include buttonBase;

  border: none;
  background-color: $primaryColor;
  color: white;
  opacity: 0.8;

  width: 85%;
  margin: 0 auto;

  &:hover {
    opacity: 1;
  }
  &:active {
    background-color: lighten($primaryColor, 10%);
  }
}
